/* Commons */

h2 {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
}

body {
    background-color: black;
}

.bg-secondary {
    background-color: rgb(34, 34, 34);
}

.font-white {
    color: white;
}

.font-orange {
    color: #E6533C;
}

.title-primary {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.title-secondary {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 6px;
}

.description-primary {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}

.area-primary {
    max-width: 67rem;
    margin: 20px auto;
}

.area-secondary {
    max-width: 78rem;
    margin: 20px auto;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    gap: 12px;
}

.btn-primary {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
}

.topic-intro {
    max-width: 671px;
    width: 100%;
    text-align: center;
}


/* Banner */
.banner-container {
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 33rem;
    /* color: white; */
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 0;
}

.banner-details>p {
    width: 33rem;
    margin: 28px 0;
}

.btn-secondary {
    /* color: white; */
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 42px;
}

.card {
    color: white;
    text-align: center;
    width: 13rem;
    height: 6rem;
    border: 1px solid white;
    border-radius: 12px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.card-title-1 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}

.card-title-2 {
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
}

.card-1 {
    margin: -425px -280px 198px 200px;
}

.card-2 {
    margin: -63px 256px 63px -113px;
}

/* Change Your Habits */
.habits {
    justify-content: space-evenly;
    text-align: center;
}

.habit-container {
    max-width: 15rem;
}

.habit-img {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    margin-bottom: 0px;
}

/* Run an Extra Mile Easily */

.run-extra {
    width: 82%;
    justify-content: space-between;
    padding: 30px 56px;
    border-radius: 18px;
}

.run-extra .title-primary,
.run-extra .description-primary {
    width: 28rem;
}

.run-img {
    width: 366px;
    height: 312px;
    object-fit: cover;
    border-radius: 18px;
    overflow: hidden;
}

/* BMI Calculator */

.bmi-container {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0 30px;
}

.bmi-details {
    width: 35rem;
    text-align: center;
}

.bmi-box {
    display: flex;
    justify-content: space-between;
}

/* Table Styles */
.chart>.title-secondary {
    margin-bottom: 35px;
}

table {
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

th {
    font-size: 19px;
}

td {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
}

/* Form Styles */
.form {
    width: 36rem;
}

.height,
.weight,
.age,
.sex,
.activity {
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
}

.height {
    grid-area: height;
}

.width {
    grid-area: width;
}

.age {
    grid-area: age;
}

.sex {
    grid-area: sex;
}

.activity {
    grid-area: activity;
}

.bmi-form {
    width: 36rem;
    height: 168px;
    grid-template-areas:
        "height      weight"
        "age         sex"
        "activity    activity"
    ;
}

.form button {
    margin-top: 30px;
}


/* Meet Our Team */
.team-member-section .area-primary {
    text-align: center;
}

.team-members {
    width: 80%;
    height: 39rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 30px 20px 20px 20px;
    padding-bottom: 0;
    grid-template-columns: repeat(3, 2fr);
    text-align: center;
}

.team-img {
    width: 25rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 18px;
}

.intro-container {
    text-align: left;
    margin-left: 30px;
    margin-top: -125px;
    margin-bottom: 50px;
}

.intro-container .description-primary {
    margin: 0;
}

/* Footer */
footer {
    margin-top: 50px;
    padding-bottom: 5px;
}

.about {
    justify-content: space-between;
    align-items: normal;
}

/* Logo Section Style */
.logo {
    width: 30%;
    margin-top: 55px;
}

.logo p {
    font-size: 14px;
    width: 28rem;
}

/* Info Container Styles */
.info-container {
    width: 40%;
    justify-content: space-between;
}

.info-container .title-secondary {
    font-size: 32px;
    font-weight: 700;
}

.info-container p,
.copy-right {
    color: rgba(255, 255, 255, 0.5);
    list-style: none;
}

.info-container p {
    font-size: 23px;
    font-weight: 400;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.copy-right {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}