/* Commons */

h2 {
    font-size: 70px;
    font-weight: 800;
}

/* body {
    background-color: black;
} */
.font-white {
    color: white;
}

.font-orange {
    color: #E6533C;
}

.titel-primary {
    font-size: 48px;
    font-weight: 900;
}

.title-secondary {
    font-size: 28px;
    font-weight: 900;
}

.description-primary {
    font-size: 16px;
    font-weight: 400;
}

.area-primary {
    max-width: 82rem;
    margin: 20px auto;
}

.flex {
    display: flex;
    align-items: center;
}

.btn-primary {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
}




/* Banner */
.banner-container {
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 33rem;
    /* color: white; */
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 0;
}

.banner-details > p {
    width: 33rem;
    margin: 28px 0;
}

.btn-secondary {
    /* color: white; */
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 42px;
}
.card {
    color: white;
    text-align: center;
    width: 13rem;
    height: 6rem;
    border: 1px solid white;
    border-radius: 12px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.card-title-1 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}
.card-title-2 {
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
}
.card-1 {
    margin: -425px -280px 198px 200px;
}
.card-2{
    margin: -63px 256px 63px -113px;
}



