@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
h2 {
    font-size: 70px;
    font-weight: 800;
}
h5 {
    font-size: 18px;
    font-weight: 600;
}
/* Common Styles */
body {
    margin: -30px auto;
    background-color: black;
}

.font-white {
    color: white;
}

.font-orange {
    color: #E6533C;
}

.title-primary {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.title-secondary {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 6px;
}

.description-primary {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.area-primary {
    max-width: 82rem;
    margin: 20px auto;
}

.flex {
    display: flex;
    align-items: center;
}

.btn-primary {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
}

.topic-intro {
    max-width: 671px;
    width: 100%;
    text-align: center;
}




/* Header Styles */
header {
    margin-bottom: 100px;
}



/* Logo & Nav Bar */
.manu {
    justify-content: space-between;
}

.nav-bar {
    width: 28rem;
    height: 46px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.manu-title {
    font-size: 36px;
    font-weight: 800;
}

.nav-item {
    margin: 10px;
    list-style: none;
}

.nav-btn {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.home {
    margin-left: -30px;
    padding: 8px 20px;

    background-color: #E6533C;
    border-radius: 39px;
}

.ham-burger {
    color: white;
    display: none;
}

/* Banner */
.banner-container {
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 33rem;
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 0;
}

h1>i {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    line-height: 80px;
}

.banner-details>p {
    max-width: 70%;
    width: 90%;
    margin: 28px 0;
}

.btn-secondary {
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 42px;
}

.card {
    color: white;
    text-align: left;
    padding: 5px 0 0 25px;
    width: 13rem;
    height: 6rem;
    border: 1px solid white;
    border-radius: 12px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.card-title-1 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}

.card-title-2 {
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
}

.card-1 {
    margin: -425px -280px 198px 200px;
}

.card-2 {
    margin: -63px 256px 63px -113px;
}

/* Change Your Habits */
.habits {
    justify-content: space-evenly;
    text-align: center;
}
.habit-container {
    max-width: 15rem;
}
.habit-img {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
}



















@media screen and (max-width: 992px) {
    
}







@media screen and (max-width: 576px) {
    body{
        max-width: 33rem;
        width: 100%;
        margin: -30px auto;
    }
    /* .area-primary {
        width: 100%;
        margin: 10px auto;
    } */

    /* Logo & Nav Bar */
    .nav-bar {
        display: none;
    }
    .ham-burger {
        display: block;
    }
    .manu {
        justify-content: space-between;
    }
    .banner-container {
        flex-direction: column;
    }
    h1, .description-primary, .banner-visual > img {
        max-width: 30rem;
        width: 100%;
    }
    .banner-visual {
        margin-left: 60px;
    }
    .banner-details {
        width: 100%;
        margin: 5px auto;
    }
    .card {
        width: 11rem;
    }

    /* Change Your Habits */
    .topic-intro p {
        margin: 10px auto;
    }
    .
    .habits {
        flex-direction: column;
    }
}